.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.pageLink {
  margin: '2px';
  display: 'inline-block';
  padding: '2px';
  WebkitBorderRadius: '20px';
  MozBorderRadius: '20px';
  borderRadius: '20px';
}

.currentLink{
  backgroundColor: '#0074c2';
  display: 'inline-block';
  color: '#FFFFFF';
 
}